<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v3.x\Config 
-->
<configuration>
  <configSections>
    <section name="exceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler,Microsoft.ApplicationBlocks.ExceptionManagement" />
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null" />
        <section name="printControl" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
      </sectionGroup>
    </sectionGroup>
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v14.2, Version=14.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v14.2, Version=14.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v14.2, Version=14.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v14.2, Version=14.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <exceptionManagement mode="on" />
  <appSettings>
	<add key="DOCUMENTOS_PDF" value="C:\Sistema\SIGESTA_WEB\DocumentosPDF\" />
	<add key="URL_PDF" value="http://areaprivada.injiboa.com.sv/SIGESTA/DocumentosPDF/" />
	<add key="TOKEN_WHATSAPP" value="GA230214153823" />
	<add key="DIRECTORIO_LOG" value="C:\LOGS\SIGESTA_WEB" />
    <add key="TituloApp" value="SISTEMA DE PAGO POR CALIDAD - SISPACAL V2.0" />
    <add key="DirectorioSIGASI" value="c:\bd\" />
    <add key="clavegooglemaps" value="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true_or_false&amp;key=ABQIAAAApmPxNqVpU5VOkb10vUl39hT2yXp_ZAY8_ufC3CFXhHIE1NvwkxQY2hGVB0nxWhk09vYMKYymqyX3xQ" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="pathIconosMapa" value="http://192.168.1.199:8080/sispacal/imagenes/mapa/" />
    <add key="iconMapIngenio" value="http://192.168.1.199:8080/sispacal/imagenes/mapa/map_jiboa.png" />
    <add key="iconMapMunicipio" value="http://192.168.1.199:8080/sispacal/imagenes/mapa/canaVerde.png" />
    <add key="iconMapCanaCruda" value="http://192.168.1.199:8080/sispacal/imagenes/mapa/canaCruda.png" />
    <add key="iconMapCanaQuemada" value="http://192.168.1.199:8080/sispacal/imagenes/mapa/canaQuemada.png" />
    <!--
    <add key="iconMapIngenio" value="http://192.168.1.199/prueba/imagenes/mapa/map_jiboa.png"/>
    <add key="iconMapMunicipio" value="http://192.168.1.199/prueba/imagenes/mapa/canaVerde.png"/>
    <add key="iconMapCanaCruda" value="http://192.168.1.199/prueba/imagenes/mapa/canaCruda.png"/>
    <add key="iconMapCanaQuemada" value="http://192.168.1.199/prueba/imagenes/mapa/canaQuemada.png"/>
    <add key="iconMapRojo" value="http://192.168.1.199/prueba/imagenes/mapa/punto_rojo.png"/>
    <add key="iconMapAzul" value="http://192.168.1.199/prueba/imagenes/mapa/punto_azul.png"/>
    <add key="iconMapVerde" value="http://192.168.1.199/prueba/imagenes/mapa/punto_verde.png"/>
    <add key="iconMapRojoAzul" value="http://192.168.1.199/prueba/imagenes/mapa/punto_rojo_azul.png"/>
    <add key="iconMapRojoVerde" value="http://192.168.1.199/prueba/imagenes/mapa/punto_rojo_verde.png"/>
    <add key="iconMapAzulVerde" value="http://192.168.1.199/prueba/imagenes/mapa/punto_azul_verde.png"/>
    <add key="iconMapAzulRojo" value="http://192.168.1.199/prueba/imagenes/mapa/punto_azul_rojo.png"/>
    <add key="iconMapVerdeAzul" value="http://192.168.1.199/prueba/imagenes/mapa/punto_verde_azul.png"/>
    <add key="iconMapVerdeRojo" value="http://192.168.1.199/prueba/imagenes/mapa/punto_verde_rojo.png"/>
    -->
  </appSettings>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <!-- BASE DE INJIBOA SQL SERVER 2014 -->
    <add name="LocalSqlServer" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnetdb;User ID=sa;Password=prueba" providerName="System.Data.SqlClient" />
    <add name="cn" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=INJIBOA;User ID=sa;Password=prueba;Connection Timeout=0" providerName="System.Data.SqlClient" />
    <add name="cnGPS" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=LABFABRICA;User ID=sa;Password=prueba;Connection Timeout=0" providerName="System.Data.SqlClient" />
    <add name="SISPACAL.My.MySettings.cn" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=INJIBOA;User ID=sa;Password=prueba;Connection Timeout=10000" providerName="System.Data.SqlClient" />
    <add name="SISPACAL.DL.My.MySettings.cn" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=INJIBOA;User ID=sa;Password=prueba;Connection Timeout=10000" providerName="System.Data.SqlClient" />
    <add name="SISPACAL.DL.My.MySettings.cnSIGASI" connectionString="Provider=VFPOLEDB.1;Data Source=c:\bd\" providerName="System.Data.OleDb" />
    <!-- BASE DE PRUEBA SQL SERVER 2014 -->
    <!--<add name="LocalSqlServer" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnetdb;User ID=sa;Password=prueba" providerName="System.Data.SqlClient"/>
    <add name="cn" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=PRUEBA_SIGESTA;User ID=sa;Password=prueba;Connection Timeout=0" providerName="System.Data.SqlClient"/>
    <add name="cnGPS" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=PRUEBA_SIGESTA;User ID=sa;Password=prueba;Connection Timeout=0" providerName="System.Data.SqlClient"/>
    <add name="SISPACAL.My.MySettings.cn" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=PRUEBA_SIGESTA;User ID=sa;Password=prueba;Connection Timeout=10000" providerName="System.Data.SqlClient"/>
    <add name="SISPACAL.DL.My.MySettings.cn" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=PRUEBA_SIGESTA;User ID=sa;Password=prueba;Connection Timeout=10000" providerName="System.Data.SqlClient"/>
    <add name="SISPACAL.DL.My.MySettings.cnSIGASI" connectionString="Provider=VFPOLEDB.1;Data Source=c:\bd\" providerName="System.Data.OleDb"/>-->
    <!-- BASE DE PRUEBA SQL SERVER 2014 -->
    <!--<add name="LocalSqlServer" connectionString="Data Source=.\SQLEXPRESS14;Initial Catalog=aspnetdb;User ID=sa;Password=visualnet" providerName="System.Data.SqlClient"/>
    <add name="cn" connectionString="Data Source=.\SQLEXPRESS14;Initial Catalog=LABFABRICA;User ID=sa;Password=visualnet;Connection Timeout=0" providerName="System.Data.SqlClient"/>
    <add name="cnGPS" connectionString="Data Source=.\SQLEXPRESS14;Initial Catalog=LABFABRICA;User ID=sa;Password=visualnet;Connection Timeout=0" providerName="System.Data.SqlClient"/>
    <add name="SISPACAL.My.MySettings.cn" connectionString="Data Source=.\SQLEXPRESS14;Initial Catalog=LABFABRICA;User ID=sa;Password=visualnet;Connection Timeout=10000" providerName="System.Data.SqlClient"/>
    <add name="SISPACAL.DL.My.MySettings.cn" connectionString="Data Source=.\SQLEXPRESS14;Initial Catalog=LABFABRICA;User ID=sa;Password=visualnet;Connection Timeout=10000" providerName="System.Data.SqlClient"/>
    <add name="SISPACAL.DL.My.MySettings.cnSIGASI" connectionString="Provider=VFPOLEDB.1;Data Source=c:\bd\" providerName="System.Data.OleDb"/>-->
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" batch="false" targetFramework="4.0">
      <assemblies>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="DevExpress.Web.v14.2, Version=14.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Data.v14.2, Version=14.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Printing.v14.2.Core, Version=14.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.RichEdit.v14.2.Core, Version=14.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="DevExpress.Web.ASPxThemes.v14.2, Version=14.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="DevExpress.XtraReports.v14.2.Web, Version=14.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraReports.v14.2, Version=14.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraCharts.v14.2.Web, Version=14.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraCharts.v14.2, Version=14.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Charts.v14.2.Core, Version=14.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Utils.v14.2, Version=14.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxTreeList.v14.2, Version=14.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <buildProviders>
        <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      </buildProviders>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" name=".ASPXFORMSAUTH" />
    </authentication>
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v14.2, Version=14.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false" />
      <add verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v14.2, Version=14.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit" />
      </controls>
    </pages>
    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v14.2, Version=14.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </httpModules>
  </system.web>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true" />
      </rptBuildProvider>
      <printControl>
        <add key="url" value="http://myserver/PrintControl.cab" />
      </printControl>
    </crystalReports>
  </businessObjects>
  <system.webServer>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v14.2, Version=14.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
      <add name="ASPxUploadProgressHandler" preCondition="integratedMode" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v14.2, Version=14.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v14.2, Version=14.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
  </system.webServer>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="Office2010Blue" customThemeAssemblies="" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings doctypeMode="Xhtml" rightToLeft="false" embedRequiredClientLibraries="false" ieCompatibilityVersion="edge" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.18.0.0" newVersion="2.18.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>