<?xml version="1.0"?>
<configuration>  
  <configSections>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
	<appSettings>
		<add key="ARCHIVO_LOG_PRECOSECHA" value="LecturaBrixPolPrecosecha.txt"/>
		<add key="ARCHIVO_LOG_ZAFRA" value="LecturaBrixPolZafra.txt"/>
		<add key="DIRECTORIO_LOG" value="C:\LABSISPACAL\"/>		
	</appSettings>
  <connectionStrings>

    <!--<add name="cn" connectionString="Data Source=192.168.1.4\INJIBOA03;Initial Catalog=PRUEBA_SIGESTA;User ID=administrador;Password=produccion01" providerName="System.Data.SqlClient"/>
    <add name="SISPACAL.DL.My.MySettings.cn" connectionString="Data Source=192.168.1.4\INJIBOA03;Initial Catalog=PRUEBA_SIGESTA;User ID=administrador;Password=produccion01" providerName="System.Data.SqlClient"/>
    <add name="SISPACAL.DL.My.MySettings.cnRefractometro" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Archivos de programa\AbbematPC\Data\zafra0506.mdb;Jet OLEDB:Database Password=MOTU" providerName="System.Data.OleDb"/>
    <add name="cnGPS" connectionString="Data Source=192.168.1.4\INJIBOA03;Initial Catalog=PRUEBA_SIGESTA;User ID=administrador;Password=produccion01" providerName="System.Data.SqlClient"/>-->
    
    <add name="cn" connectionString="Data Source=192.168.1.4\INJIBOA03;Initial Catalog=INJIBOA;User ID=administrador;Password=produccion01" providerName="System.Data.SqlClient"/>
    <add name="SISPACAL.DL.My.MySettings.cn" connectionString="Data Source=192.168.1.4\INJIBOA03;Initial Catalog=INJIBOA;User ID=administrador;Password=produccion01" providerName="System.Data.SqlClient"/>
    <add name="SISPACAL.DL.My.MySettings.cnRefractometro" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Archivos de programa\AbbematPC\Data\zafra0506.mdb;Jet OLEDB:Database Password=MOTU" providerName="System.Data.OleDb"/>    
    <add name="cnGPS" connectionString="Data Source=192.168.1.4\INJIBOA03;Initial Catalog=INJIBOA;User ID=administrador;Password=produccion01" providerName="System.Data.SqlClient"/>
        
    <!--<add name="cn" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=INJIBOA;User ID=sa;Password=prueba" providerName="System.Data.SqlClient"/>
    <add name="SISPACAL.DL.My.MySettings.cn" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=INJIBOA;User ID=sa;Password=prueba" providerName="System.Data.SqlClient"/>   
    <add name="SISPACAL.DL.My.MySettings.cnRefractometro" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Archivos de programa\AbbematPC\Data\zafra0506.mdb;Jet OLEDB:Database Password=MOTU" providerName="System.Data.OleDb"/>
    <add name="cnGPS" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=INJIBOA;User ID=sa;Password=prueba" providerName="System.Data.SqlClient"/>-->
    
  </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>  
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
